<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word Game</title>
  </head>
  <body>
    <div id="heading">
      <h1>Mystery Word Game</h1>
    </div>
    <div id="guessChecker">
    </div>
    <div id="userEntry">
      <form action="/theGame/" method="post">
        <label for="userInput">Please geuss a letter</label>
        <input type="text" id="userInput" name="userGuess">
        <input type="submit" id="loginButton" value="guess">
      </form>
    </div>
  </body>
</html>
